.chatContainer {
    height: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px #0003;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    overflow: auto;
    position: relative;
}

.PopUp{
    background-color: #555454ab;
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.chatHeader {
  background: #075e54;
  color: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.chatHeader img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.chatBody {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  background: #ece5dd;
  display: flex;
  flex-direction: column-reverse;
}

.messageRow {
  display: flex;
  margin-bottom: 12px;
  align-items: flex-end;
  width: 100%;
}

.bot {
  justify-content: flex-start;
}

.user {
  justify-content: flex-end;
}

.message {
  max-width: 70%;
  padding: 12px 16px;
  border-radius: 15px;
  font-size: 14px;
  position: relative;
  line-height: 1.4;
}

.message.bot {
  background: #ffffff;
  border: 1px solid #ccc;
}

.message.user {
  background: #dcf8c6;
}

.timestamp {
  font-size: 10px;
  color: #555;
  margin-top: 4px;
  text-align: right;
}

.avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 0 8px;
}

.chatInput {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  background: #f0f0f0;
}

.chatInput input {
  flex: 1;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.chatInput button {
  background: #075e54;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 0 20px;
  margin-left: 10px;
  cursor: pointer;
}

.chatInput button:hover {
  background: #0b7366;
}

.quickReplies {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 10px 0 0;
}
.inputGroup {
  display: flex;
  align-items: center;
  width: 100%;
}

.prefix {
  background-color: #f0f0f0;
  padding: 0.5rem 0.75rem;
  border-radius: 20px 0px 0px 20px;
  font-size: 12px;
  color: #555;
  border: 1px solid #ccc;
  border-right: 0;
}

.quickReply {
  background: #fff;
  border: 1px solid #ccc;
  padding: 8px 14px;
  border-radius: 20px;
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.quickReply:hover {
  background: #075e54;
  color: white;
  border-color: #075e54;
}

.quickReply:hover::placeholder {
  color: white;
}

.quickReply2 {
  width: 100%;
  background: #fff;
  border: 1px solid #ccc;
  padding: 8px 14px;
  border-radius: 0 20px 20px 0;
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.quickReply2:hover {
  background: #075e54;
  color: white;
  border-color: #075e54;
  border: 1px solid #075e54;
}

.quickReply2:hover::placeholder {
  color: white;
}