
.statCard {
overflow: hidden;
  background: #ece5dd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.statCard h2 {
  margin: 0;
  font-size: 28px;
  color: #075e54;
}

.statCard p {
  margin: 5px 0 0;
  font-size: 14px;
}
.cardContent {
  position: relative;
  animation-duration: 0.6s;
  animation-fill-mode: both;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(30%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-30%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.slideInRight {
  animation-name: slideInRight;
}

.slideInLeft {
  animation-name: slideInLeft;
}
